.snake-link {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: darkgray;
    z-index: 1;
}
.snake-link.snake-head {
    background-color: #30dc30;
    z-index: 2;
}